.box grid_4 {
  padding: 10px 10px;
}

.box grid-4 img {
  width: 100%;
}

.heading {
  left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 10;
    border-bottom: 2px solid #eee;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 0 20px;
    border-top: 2px solid #eee;
}
